/*
    Animationen in CSS

    Funktionieren mit s.g. Keyframes

    Syntax: 

    @keyframes identifierDesFrames {
    from {CSS-Regel}
    to {CSS-Regel}
    }

    @keyframes identifierDesFrames {
        0% {CSS-Regel}
        25% {CSS-Regel}
        50% {CSS-Regel}
        75% {CSS-Regel}
        100% {CSS-Regel}
    }

    Einsetzen: 

    div {
        animation-name: identifier;
        animation-duration: zeitInSekunden;
    }

*/

@keyframes colorShow {
    0% {background-color: aqua;left: 0;}
    10% {background-color: green;}
    20% {background-color: greenyellow;}
    35% {background-color: yellow;}
    40% {background-color: purple;left: 250px;}
    55% {background-color: yellow;}
    70% {background-color: greenyellow;}
    85% {background-color: green;}
    100% {background-color: aqua;left: 0px;}
}

div#rainbow {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    animation-name: colorShow;
    animation-duration: 5s;

}

/*
    animation-name: Bestimmt welche Animation gespielt wird
    animation-fill-mode: Bestimmt wie sich das Element nach der Animation verhält
    animation-iteration-count: bestimmt wie oft die Animation gespielt wird, Zahl oder infinite für eine dauerhafte animation
    animation-timing-function: Bestimmt wie die Geschwindigkeit der Animation sich verhält,
    Super Editor in den Dev-Tools des Browsers
*/

.dots-flow:before {
    -webkit-animation: dots-flow .85s infinite ease;
            animation: dots-flow .85s infinite ease;
    border-radius: 100%;
    content: '';
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -40px);
            transform: translate(-50%, -40px);
    width: 16px; }
  
  @-webkit-keyframes dots-flow {
    0%, 100% {
      -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 0 white;
              box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 0 white; }
    35% {
      -webkit-box-shadow: -26px 32px 0 4px rgb(128, 0, 28), 0px 32px 0 0 white, 26px 32px 0 0 white;
              box-shadow: -26px 32px 0 4px rgb(128, 0, 28), 0px 32px 0 0 white, 26px 32px 0 0 white; }
    50% {
      -webkit-box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px rgb(34, 0, 128), 26px 32px 0 0 white;
              box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px rgb(34, 0, 128), 26px 32px 0 0 white; }
    65% {
      -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 4px purple;
              box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 4px purple; } }
  
  @keyframes dots-flow {
    0%, 100% {
      -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 0 white;
              box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 0 white; }
    35% {
      -webkit-box-shadow: -26px 32px 0 4px rgb(128, 0, 28), 0px 32px 0 0 white, 26px 32px 0 0 white;
              box-shadow: -26px 32px 0 4px rgb(128, 0, 28), 0px 32px 0 0 white, 26px 32px 0 0 white; }
    50% {
      -webkit-box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px rgb(34, 0, 128), 26px 32px 0 0 white;
              box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px rgb(34, 0, 128), 26px 32px 0 0 white; }
    65% {
      -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 4px purple;
              box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 4px purple; } }



              .rotate-90-bl-cw {
                -webkit-animation: rotate-90-bl-cw 2s linear infinite reverse backwards;
                        animation: rotate-90-bl-cw 2s linear infinite reverse backwards;
              }


              
/* ----------------------------------------------
 * Generated by Animista on 2023-2-2 10:25:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-90-bl-cw
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-90-bl-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
@keyframes rotate-90-bl-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}


html,body {
  background-color: grey;
}